/* Overrides for Chinese Web Doc Center */
/* Globals */
html body,
h1, h2, h3, h4, h5, h6,
.search_refine h3 { font-family: Microsoft YaHei UI, Segoe UI, Arial, Helvetica; }

.offcanvas_nav *,
#doc_center_content { font-size: 14px; }

#doc_center_content h1 { font-size:22px; }
#doc_center_content h2 { font-size:18px; }
#doc_center_content h3 { font-size:16px; }
#doc_center_content h4 { font-size:14px; }
#doc_center_content h5 { font-size:14px; }
#doc_center_content h6 { font-size:14px; }

#doc_center_content h1[class*="r20"],
#doc_center_content h1[class*="r20"] span,
#doc_center_content h2.title[class*="r20"],
#doc_center_content h2.title[class*="r20"] span { font-size: 22px; }

/* Disambiguation List Overflow */
.sidebar-offcanvas .nav_disambiguation_overflow_control:before { content: "更多..."; }
.sidebar-offcanvas .collapse.in + .nav_disambiguation_overflow_control:before { content: "更少..."; }

/* Expand - Collapse: Reveal */
.reveal .more_results p:after { content:"更多"; }
.reveal .expanded .more_results p:after { content:"更少"; }

/* Expand All in Page */
.doc_topic_desc { padding-right:130px; }
.doc_topic_desc .switch { width:120px; margin-right:-130px; }

/* Function Reference */
.input_argument_container h2 { font-style:normal; }

/* Survey */
#doc_center_content mw-rating * { font-size:initial !important; }
#doc_center_content .mwRatingLabel,
#doc_center_content .mwRatingLabel * { font-size:21px !important; }